<h1>Stupid Coaching</h1>
<div class="question-box">
  <p><%= @question %></p>
  <p>- you</p>
</div>

<div class="answer-box">
  <p><%= @answer %></p>
  <p>- your coach</p>
</div>

<p><%= link_to "Ask a new question", ask_path %></p>